<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12 z-depth-1 grey lighten-5">
        <h3 class="center blue-grey-text text-darken-2">Edit Profile</h3>
        <div class="divider col s10 offset-s1"></div>
        <div class="section"></div>
        <form *ngIf="settingsData" (submit)="openConfirmModal()">
          <div class="row no-margin">
            <div class="input-field col s10 offset-s1 m5 offset-m1">
              <i class="material-icons prefix">account_circle</i>
              <input [(ngModel)]="settingsData.firstName" id="firstName" type="text" class="validate" name="firstName"
                     placeholder="New First name *" required>
            </div>
            <div class="input-field col s10 m5 offset-s1">
              <i class="material-icons prefix">account_circle</i>
              <input [(ngModel)]="settingsData.lastName" id="lastName" type="text" class="validate" name="lastName"
                     placeholder="New Last name *" required>
            </div>
          </div>
          <div class="row no-margin">
            <div class="input-field col s10 offset-s1 m5 offset-m1">
              <i class="material-icons prefix">account_box</i>
              <input [(ngModel)]="settingsData.username" id="username" type="text" class="validate" name="username"
                     placeholder="New Username *" required>
            </div>
            <div class="input-field col s10 offset-s1 m5">
              <i class="material-icons prefix">email</i>
              <input [(ngModel)]="settingsData.email" id="email" type="email" class="validate" name="email"
                     placeholder="New Email *" required>
            </div>
          </div>
          <div class="row no-margin">
            <div class="input-field col s10 offset-s1 m5 offset-m1">
              <i class="material-icons prefix">lock</i>
              <input [(ngModel)]="settingsData.password" id="password" type="password" class="validate" name="password"
                     placeholder="New Password *" required>
            </div>
            <div class="input-field col s10 offset-s1 m5">
              <i class="material-icons prefix">lock_outline</i>
              <input [(ngModel)]="settingsData.passwordConfirm" id="password-confirm" type="password" class="validate"
                     name="password-confirm" placeholder="Confirm New Password *" required>
            </div>
          </div>
          <div class="row no-margin">
            <div class="input-field col s10 offset-s1 m5 offset-m1">
              <i class="material-icons prefix">cake</i>
              <input [(ngModel)]="settingsData.birthday"
                     id="birthday"
                     materialize="pickadate"
                     [materializeParams]="[{selectMonths: true, selectYears: 200}]"
                     name="birthday"
                     placeholder="New Birthday"/>
            </div>
            <div class="input-field col s10 offset-s1 m5 grey-text">
              <i class="material-icons prefix black-text">add_circle</i>
              <select [(ngModel)]="settingsData.dronesSelector"
                      id="drone-select"
                      materialize="material_select"
                      name="drones-select"
                      multiple>
                <option value="" disabled>Choose your drone(s)</option>
                <option *ngFor="let drone of dronesArray; let i = index;" [value]="i">{{drone}}</option>
              </select>
            </div>
          </div>

          <div class="row no-margin">
            <div class="file-field input-field col s10 offset-s1">
              <div class="btn waves-effect light-blue btn-flat white-text accent-4">
                <span>Upload</span>
                <input (change)="onProfilePictureSelected($event)" id="profile-picture-upload" type="file"
                       name="profile-picture-upload" accept="image/png,image/jpeg">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="Profile picture.">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="center">
              <img
                [src]="profilePictureEncoded || settingsData.profilePicUrl"
                alt="Profile picture preview" class="circle avatar-big grey-border">
            </div>
          </div>
          <div class='row'>
            <div class="col s12 offset-s1 offset-m2">
            <button [disabled]='isRegisterButtonDisabled' type="submit"
                    class='col s4 m3 btn btn-large waves-effect green btn-flat white-text accent-4'>
              Edit
            </button>
            <button [disabled]='isRegisterButtonDisabled' type="button" (click)="openDeleteModal()"
                    class='col s4 m3 offset-m2 offset-s2 btn btn-large waves-effect red btn-flat white-text accent-4'>
              Delete
            </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-modal-confirm-password [confirmModal]="confirmModal" (cancel)="closeConfirmModal()"
                            (confirm)="editProfileInfo($event)"></app-modal-confirm-password>
<app-modal-delete [showPasswordField]="true" [titleText]="'Delete profile permanently?'" [deleteModal]="deleteModal"
                  (deleteCancelled)="closeDeleteModal()" (deleteConfirmed)="deleteProfile($event)"></app-modal-delete>

