.input-field :focus {
  border-bottom: 1px solid #03a9f4;
  box-shadow: 0 1px 0 0 #03a9f4;
}

.input-field :focus + label {
  color: #03a9f4;
}

.input-field .prefix.active {
  color: #03a9f4;
}

.avatar-big {
  width: 150px;
  height: 150px;
  border: 1px solid #03a9f4;
}
