<div class="section">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <form (submit)="onRegisterSubmit()">

          <h3 class="center">Register</h3>

          <div class="input-field col s10 m5 offset-s1 offset-m1">
            <i class="material-icons prefix">account_circle</i>
            <input [(ngModel)]="registerData.firstName" id="register-firstName" type="text" class="validate"
                   name="firstName"
                   required>
            <label for="register-firstName">First Name<span class="light-blue-text accent-4"> *</span></label>
          </div>

          <div class="input-field col s10 m5 offset-s1">
            <i class="material-icons prefix">account_circle</i>
            <input [(ngModel)]="registerData.lastName" id="register-lastName" type="text" class="validate"
                   name="lastName"
                   required>
            <label for="register-lastName">Last Name<span class="light-blue-text accent-4"> *</span></label>
          </div>

          <div class="input-field col s10 m5 offset-s1 offset-m1">
            <i class="material-icons prefix">account_box</i>
            <input [(ngModel)]="registerData.username" id="register-username" type="text" class="validate"
                   name="username"
                   required>
            <label for="register-username">Username<span class="light-blue-text accent-4"> *</span></label>
          </div>

          <div class="input-field col s10 m5 offset-s1">
            <i class="material-icons prefix">email</i>
            <input [(ngModel)]="registerData.email" id="register-email" type="email" class="validate" name="email"
                   required>
            <label for="register-email">Email<span class="light-blue-text accent-4"> *</span></label>
          </div>

          <div class="input-field col s10 m5 offset-s1 offset-m1">
            <i class="material-icons prefix">lock</i>
            <input [(ngModel)]="registerData.password" id="register-password" type="password" class="validate"
                   name="password"
                   required>
            <label for="register-password">Password<span class="light-blue-text accent-4"> *</span></label>
          </div>

          <div class="input-field col s10 m5 offset-s1">
            <i class="material-icons prefix">lock_outline</i>
            <input [(ngModel)]="passwordConfirm" id="register-password-confirm" type="password"
                   class="validate"
                   name="password-confirm" required>
            <label for="register-password-confirm">Confirm Password<span
              class="light-blue-text accent-4"> *</span></label>
          </div>

          <div class="input-field col s10 offset-s1">
            <i class="material-icons prefix">add_circle</i>

            <select (ngModelChange)="dronesSelectChange($event)"
                    [ngModel]
                    name="drones-select"
                    multiple
                    materialize="material_select"
                    [materializeSelectOptions]="dronesToSelect">
              <option value="" disabled selected>Select your drones</option>
              <option *ngFor="let option of dronesToSelect; let i = index" [value]="i">{{option}}</option>
            </select>

          </div>

          <div class="file-field input-field col s10 offset-s1">
            <div class="btn waves-effect">
              <span>Upload</span>
              <input (change)="onProfilePictureSelected($event)" id="profile-picture-upload" type="file"
                     name="profile-picture-upload" accept="image/png,image/jpeg">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Profile picture">
            </div>
          </div>

          <div class="row center">
            <img [src]="profilePictureEncoded || defaultProfilePic"
                 alt="Profile picture preview"
                 class="circle avatar-big z-depth-1">
          </div>

          <div class="row center">
            <input type="checkbox" name="agree" [(ngModel)]="agree" class="filled-in" id="filled-in-box"/>
            <label for="filled-in-box">I agree to the <a routerLink="/terms">terms of use</a></label>
          </div>

          <div class='row center'>
            <button [disabled]='isRegisterButtonDisabled' type="submit"
                    class='btn waves-effect'>Register
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
