<footer class="page-footer blue-grey darken-3 ">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Stay in touch.</h5>
        <br>
        <div class="row">
          <a href="https://www.facebook.com/dronexer">
            <img src="assets/facebook.png" alt="" href="">
          </a>
          <a href="https://www.instagram.com/dronexermedia/">
            <img src="assets/instagram.png" alt="">
          </a>
          <a href="https://www.snapchat.com/add/dronexer">
            <img src="assets/snapchat.png" alt="" href="">
          </a>
        </div>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Info.</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/privacy">Privacy</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/about">About Us</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/disclaimer">Disclaimer</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/terms">Terms of Use</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      Made with <i class="material-icons tiny red-text text-lighten-1">favorite</i> &copy; {{year}}
    </div>
  </div>
</footer>
