<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">Stay in touch</h5>
        <div class="row social-media-buttons-row">
          <a class="social-media-link" href="https://www.facebook.com/dronexer">
            <img class="social-media-button small-zoom-in z-depth-1" src="/assets/facebook.svg" alt="Dronexer Social Media Facebook Link">
          </a>
          <a class="social-media-link" href="https://www.instagram.com/dronexermedia/">
            <img class="social-media-button small-zoom-in z-depth-1" src="/assets/instagram.svg" alt="Dronexer Social Media Instagram Link">
          </a>
          <a class="social-media-link" href="https://www.snapchat.com/add/dronexer">
            <img class="social-media-button small-zoom-in z-depth-1" src="/assets/snapchat.svg" alt="Dronexer Social Media Snapchat Link">
          </a>
        </div>
      </div>
      <div class="col l3 m4 s6">
        <h5 class="white-text">Get our app</h5>
        <div class="row">
          <a href='https://play.google.com/store/apps/details?id=com.dronexer&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
            <img alt='Get it on Google Play' class="responsive-img" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
        </div>
      </div>
      <div class="col l3 push-l1 s12">
        <h5 class="white-text">Info</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/privacy-policy">Privacy</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/about-us">About Us</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/disclaimer">Disclaimer</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/terms-of-use">Terms of Use</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <span class="left">&copy; {{year}} Dronexer Ltd.</span>
      <span class="right">Made with <i class="material-icons tiny red-text text-lighten-1 zoom-in">favorite</i></span>
    </div>
  </div>
</footer>
