<footer class="page-footer blue-grey darken-4 ">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Stay in touch</h5>
        <br>
        <div class="row social-media-buttons-row">
          <a class="social-media-link" href="https://www.facebook.com/dronexer">
            <img class="social-media-button small-zoom-in" src="assets/facebook.png" alt="Dronexer Social Media Facebook Link">
          </a>
          <a class="social-media-link" href="https://www.instagram.com/dronexermedia/">
            <img class="social-media-button small-zoom-in" src="assets/instagram.png" alt="Dronexer Social Media Instagram Link">
          </a>
          <a class="social-media-link" href="https://www.snapchat.com/add/dronexer">
            <img class="social-media-button small-zoom-in" src="assets/snapchat.png" alt="Dronexer Social Media Snapchat Link">
          </a>
        </div>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Info</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" routerLink="/privacy">Privacy</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/about">About Us</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/disclaimer">Disclaimer</a></li>
          <li><a class="grey-text text-lighten-3" routerLink="/terms">Terms of Use</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright blue-grey darken-4">
    <div class="container">
      <span class="left">&copy; {{year}} Dronexer Ltd.</span>
      <span class="right">Made with <i class="material-icons tiny red-text text-lighten-1">favorite</i></span>
    </div>
  </div>
</footer>
