<nav class="blue darken-3">
  <div class="nav-wrapper">
    <div class="container">
      <a href="#" class="brand-logo center">Dronexer</a>
      <a materialize="sideNav" href="#" data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="left hide-on-med-and-down">
        <li><a href="">Home</a></li>
        <li><a href="">Explore</a></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><a href="">Login</a></li>
        <li><a href="">Register</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="">Home</a></li>
        <li><a href="">Explore</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">Register</a></li>
        <li><a href="">Profile</a></li>
        <li><a href="">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
