.logo {
  height: 64px;
}

@media (max-width: 600px) {
  .logo {
    height: 56px;
  }
}

@media (max-width: 360px) {
  .logo {
    display: none;
  }
}

.dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-button {
  min-width: 140px;
}

.dropdown-content li > a, .dropdown-content li > span {
  line-height: 35px;
}

.dropdown-content li {
  min-height: 64px;
}

.navbar-fixed {
  z-index: 999;
}
