<nav class="blue-grey darken-4">
  <div class="nav-wrapper">
    <div class="container">
      <!--<a [routerLink]="['/']" class="brand-logo center"><img class="logo" src="assets/drone1.png" alt=""></a>-->
      <a [routerLink]="['/']" class="brand-logo center">Dronexer</a>
      <a materialize="sideNav" [materializeParams]="[{closeOnClick: true, draggable: true, menuWidth: 225}]" href="#"
         data-activates="mobile-demo" class="button-collapse">
        <i class="material-icons">menu</i>
      </a>
      <ul class="left hide-on-med-and-down">
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Home</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/explore']">Explore</a>
        </li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a
          [routerLink]="['login']">Login</a></li>
        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/register']">Register</a>
        </li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/profile']">Profile</a>
        </li>
        <li><a *ngIf="authService.loggedIn()" (click)="onLogoutClick()">Logout</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><h3 class="blue-text">&nbsp;&nbsp;&nbsp;Dronexer</h3></li>
        <li>
          <div class="divider"></div>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/']">Home</a>
        </li>
        <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/explore']">Explore</a>
        </li>
        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a
          [routerLink]="['login']">Login</a></li>
        <li *ngIf="!authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/register']">Register</a>
        </li>
        <li *ngIf="authService.loggedIn()" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a [routerLink]="['/profile']">Profile</a>
        </li>
        <li><a *ngIf="authService.loggedIn()" (click)="onLogoutClick()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
