<form>
  <div class="input-field">
    <input (focus)="onFocus($event)" (blur)="onBlur($event)" autocomplete="off" class="no-margin" id="search" name="search" type="search" (keyup)="searchTerm.next($event.target.value)">
    <label for="search">Search for usernames or #tags</label>
  </div>

  <div *ngIf="canShowDropDown" class="results-container z-depth-1">
    <div class="results">

      <!-- USERS -->
      <ul class="collection z-depth-1" *ngIf="results && results.users && results.count">
        <li *ngFor="let user of results.data">
          <a class="collection-item" [routerLink]="['/profile', user.username]">
            <img class="search-result-avatar" [src]="user.profilePicUrl" alt="User profile picture">{{ user.username }}
          </a>
        </li>
      </ul>

      <ul class="collection z-depth-1" *ngIf="results && results.users && !results.count">
        <li class="collection-item">
          No users found
        </li>
      </ul>
      <!-- USERS END -->

      <!-- TAGS -->
      <ul class="collection z-depth-1" *ngIf="results && results.tags">
        <li>
          <a class="collection-item" [routerLink]="['/tag', results.data.tag]">
            {{ results.data.tag | insertHashtag }} <span class="grey-text">{{results.data.count}} posts</span>
          </a>
        </li>
      </ul>
      <!-- TAGS END -->

    </div>
  </div>

</form>
