<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <br>
      <h1 class="header center">Welcome</h1>
      <div class="row center">
        <h5 class="header col s12 grey-text text-lighten-2">to a revolution in drone photography.</h5>
      </div>
      <div *ngIf="!authHelperService.isLoggedIn()" class="row center">
        <a class="join-us btn-large waves-effect waves-light blue z-depth-3" [routerLink]="['/register']">Join us</a>
      </div>
    </div>
  </div>
  <div class="parallax" materialize="parallax"><img src="assets/wide.jpg" alt="Unsplashed background image"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">people</i></h2>
          <h5 class="center">Friendly community</h5>
          <p class="light">
            With Dronexer you can find and connect with like-minded people from all around the world. Share your best aerial shots in our dedicated platform.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons">devices</i></h2>
          <h5 class="center">Available on mobile</h5>
          <p class="light">
            Dronexer is a multi-platform app. We care about providing great experiences everywhere. Find us in Google Play and in the App Store.
            <small>(Coming soon for iOS)</small>
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text"><i class="material-icons ">money_off</i></h2>
          <h5 class="center">100% Free to use</h5>
          <p class="light">
            Dronexer is completely free to use and enjoy! Your information and content is not shared with any third parties. <a [routerLink]="['/register']">Register</a> now to enjoy all features of Dronexer!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
