<div class="modal" materialize="modal" [materializeActions]="confirmModal">
  <div class="modal-content">
    <p class="center no-margin big-text">Confirm password</p>
    <div class="section">
      <div class="row no-margin">
        <div class="input-field col s10 offset-s1">
          <i class="material-icons prefix">lock</i>
          <input [(ngModel)]="oldPassword" name="password" id="password" type="password" class="validate" required>
          <label for="password">Old password</label>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
  <div class="modal-footer">
    <a (click)="cancelEdit()" class="waves-effect modal-close btn-flat">Close</a>
    <a (click)="confirmEdit()" class="modal-action waves-effect btn-flat blue-text text-accent-2">Confirm</a>
  </div>
</div>
