<div class="container">
  <h3 class="center">About Us</h3>
  <br>
  <div>
    <p>
      Dronexer Ltd is an independent and self-funded company. We take pride in our work and love what we do.
    </p>
    <p>
      Established in 2016, Dronexer Ltd builds high-quality web sites, SEO audits and competition analysis. We are
      passionate about crowd knowledge and experts in creating elegant and powerful web applications to do the job and
      grow options. We are, and always have been, a privately-held company.
    </p>
    <p>
      We invite you to directly send us any questions, enquiries, project plans or suggestions.
    </p>
  </div>
  <br>
  <br>
  <br>
</div>
