<div class="section">

  <div class="container">
    <div class="row">
      <div class="col s10 m6 offset-s1 offset-m3 grey lighten-5 z-depth-1">
        <form (submit)="onLoginSubmit()">
          <h3 class="center blue-grey-text text-darken-2">Login</h3>
          <div class="divider col s10 offset-s1"></div>
          <div class="section"></div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <i class="material-icons prefix">account_box</i>
              <input [(ngModel)]="username" name="username" id="username" type="text" class="validate" required>
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s10 offset-s1">
              <i class="material-icons prefix">lock</i>
              <input [(ngModel)]="password" name="password" id="password" type="password" class="validate" required>
              <label for="password">Password</label>
            </div>
          </div>
          <div class='row'>
            <div class="col s6 offset-s3">
              <button type='submit' name='btn_login'
                      class='col s12 btn btn-large waves-effect light-blue btn-flat white-text accent-4'>
                Login
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>

    <div class="center">
      <a [routerLink]="['/register']">Join us!</a>
    </div>
  </div>
</div>

