<div class="container">
  <div *ngIf="profileInfo" class="profile-head">
    <div class="card">
           <div class="card-content">
        <div class="row content-row">
          <div class="col s12 center-align m3">
            <img id="profile-picture-view" [src]="profileInfo.profilePicUrl"
                 class="circle profile-picture grey-border">
          </div>
          <div class="profile-info-wrap center">
          <div class="col s12 m2">
            <h4 class="card-title grey-text text-darken-4">{{profileInfo.username}}</h4>
            <p class="grey-text">{{profileInfo.firstName}} {{profileInfo.lastName}}</p>
          </div>
            <div class="col s4 m2">
              <h4 class="card-title grey-text text-darken-4">{{profileInfo.postsCount}}</h4>
              <p class="grey-text">Posts</p>
            </div>
            <div class="col s4 m2">
              <h4 class="card-title grey-text text-darken-4">{{profileInfo.followersCount}}</h4>
              <p class="grey-text">Followers</p>
            </div>
            <div class="col s4 m2">
              <h4 class="card-title grey-text text-darken-4">{{profileInfo.followingCount}}</h4>
              <p class="grey-text">Following</p>
            </div>
          </div>
          <div class="col right open-profile-info">
            <a class="btn-floating activator waves-effect waves-light light-blue btn-flat white-text accent-4">
              <i class="material-icons">perm_identity</i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-reveal">
        <div class="row">
          <span class="card-title grey-text text-darken-4">Info<i class="material-icons right">close</i></span>
          <div class="col s10 m6 l4">
            <p><i class="material-icons blue-text left">email</i> {{profileInfo.email}}</p>
            <p *ngIf="profileInfo.birthday"><i class="material-icons blue-text left">cake</i> Birthday:
              {{profileInfo.birthday}}
            </p>
            <p><i class="material-icons blue-text left">access_time</i> Member since:
              {{datesService.getFormattedDateString(profileInfo.createdAt)}}</p>
          </div>
          <div *ngIf="profileInfo.drones" class="col s10 m5 l4">
            <ul disabled materialize="collapsible" class="collapsible" data-collapsible="accordion">
              <li>
                <div class="collapsible-header">
                  <i class="material-icons blue-text">view_list</i>
                  <span> Drones ({{profileInfo.drones.length}})</span>
                </div>
                <div class="collapsible-body collapsible-padding">
                  <ul>
                    <li *ngFor="let drone of profileInfo.drones">
                      <p>{{drone}}</p>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-page-content">
    <!--  <div id="profile-page-sidebar" class="col s12 m4">
        <div class="card light-blue z-depth-1">
          <div class="card-content white-text">
            <span class="card-title">About Me!</span>
            <p>Bullsht text to make space for ads.</p>
          </div>
        </div>
      </div> -->
    <div *ngIf="!hasPosts" class="no-posts-container">
      <div class="center-align">
        <div class="row">
          <div *ngIf="isProfileMine">
            <p class="big-text">You have no posts.</p>
            <a [routerLink]="['/upload']"
               class="btn btn-large waves-effect light-blue darken-1">
              <span>Post now!</span>
            </a>
          </div>
          <div *ngIf="!isProfileMine">
            <p class="big-text">{{urlUsername}} has no posts</p>
          </div>
        </div>
      </div>
      <div class="section"></div>
    </div>

    <div *ngIf="hasPosts" class="profile-page-wall"
         infinite-scroll
         [infiniteScrollDistance]="1"
         (scrolled)="onProfileScrolled()">
      <app-post [post]="post" *ngFor="let post of wallPosts" (onPostDeleted)="removePostFromWall($event)"></app-post>
    </div>
  </div>
</div>
