.container {
  margin: 0.5rem auto;
  width: 95%;
  max-width: 100% !important;
}

.card {
  position: relative;
  overflow: hidden;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  border-radius: 2px;
}

.profile-page-wall-post .chip.tag {
  height: 26px;
  line-height: 26px;
}

.profile-page-wall-post .comments-container {
  margin: 10px;
  margin-top: 0px !important;
  margin-bottom: -7px !important;
}

.profile-page-wall-post .comment {
  margin: 3px 0 3px 0;
}

.profile-page-wall-post .card .card-action {
  padding: 15px 24px 10px 40px;
}

.profile-page-wall-post .comment .chip {
  background-color: transparent;
  border: 1px solid;
}

.card .card-image img {
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.cover-photo {
  max-height: 250px;
  position: relative;
}

.profile-head .profile-picture {
  width: 110px;
  height: 110px;
  border: 1px solid #03a9f4;
}

.input-field :focus {
  border-bottom: 1px solid #03a9f4;
  box-shadow: 0 1px 0 0 #03a9f4;
}

.input-field :focus + label {
  color: #03a9f4;
}

.content-row {
  margin-bottom: 0;
}

.profile-head .card-reveal .collapsible-padding {
  padding: 0 25px 0 25px;
}

@media (max-width: 600px) {
  .open-profile-info {
    margin-top: 20px;
  }
}

.container .row {
  margin-bottom: 0;
}

.margin {
  margin: 0 !important;
}

.ultra-small {
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.small-text {
  font-size: 0.88rem;
}

.profile-page-wall-post .post-profile-info {
  padding-top: 12px;
}

.profile-page-wall-post .card-action-share {
  margin: 10px 0;
}

.profile-page-wall-post .card .card-content {
  padding: 8px 15px 3px 15px;
  border-radius: 0 0 2px 2px;
}

.profile-page-wall-post .card-profile-title {
  font-size: 16px;
  padding: 5px 20px 5px 20px;
  border-radius: 0 0 2px 2px;
}

.profile-page-wall-post .post-profile-picture {
  margin: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid #03a9f4;
}

.profile-page-wall-post .divider.title-divider {
  width: 120%;
  left: 0;
  position: absolute;
}

.profile-page-wall-post .card-profile-title {
  padding-bottom: 0;
}

.profile-page-wall-post .expand-more-arrow {
  margin-top: 5px;
}

.profile-page-wall-post .card .card-image img {
  z-index: 1000;
  padding: 0 1px;
}

.profile-page-wall-post .comment .chip {
  height: 28px;
  line-height: 28px;
}

@media only screen and (min-width: 993px) {
  .profile-page-wall-post .comments-container {
    max-height: 120px;
    overflow: scroll;
  }

  .container {
    width: 970px;
  }

  .profile-page-wall {
    width: 728px !important;
  }
}

@media only screen and (max-width: 992px) {
  .profile-page-wall-post .comments-container {
    max-height: 100px;
    overflow: scroll;
  }

  .profile-page-wall {
    width: 100%;
  }
}
