<div class="container-wall">
  <div *ngIf="profileInfo">
    <div class="card">
      <div class="card-content">
        <div class="row no-margin">
          <div class="col s12 center-align m3">
            <img [src]="profileInfo.profilePicUrl" class="circle profile-picture grey-border">
          </div>
          <div class="center">
            <div class="col s12 m3">
              <h4 class="card-title">{{profileInfo.username}}</h4>
              <p>{{profileInfo.firstName}} {{profileInfo.lastName}}</p>
            </div>
            <div class="col s4 m2">
              <h4 class="card-title">{{profileInfo.postsCount}}</h4>
              <p>Posts</p>
            </div>
            <div class="col s4 m2">
              <h4 class="card-title">{{profileInfo.followersCount}}</h4>
              <p>Followers</p>
            </div>
            <div class="col s4 m2">
              <h4 class="card-title">{{profileInfo.followeesCount}}</h4>
              <p>Following</p>
            </div>
          </div>
          <div class="col right">
            <a class="activator pointer">
              <i class="big-text material-icons grey-text text-darken-4">more_vert</i>
            </a>
          </div>
        </div>
      </div>
      <div class="card-reveal">
        <div class="row no-margin no-padding">
          <i class="card-title material-icons right">close</i>
          <div class="col s10 m6">
            <p><i class="material-icons blue-text left">email</i> {{profileInfo.email}}</p>
            <p><i class="material-icons blue-text left">access_time</i> Member since: {{profileInfo.createdAt | formatDate}}
            </p>
          </div>
          <div *ngIf="profileInfo.drones" class="col s10 m5">
            <ul class="collection">
              <li class="collection-item">Drones: {{profileInfo.drones.length}}</li>
              <li class="collection-item" *ngFor="let drone of profileInfo.drones">{{drone}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="row follow-btn-container" *ngIf="!isProfileMine && isLoggedIn">
      <div class="col s12 center">
        <button *ngIf="!profileInfo.isFollowed" (click)="followUser()" class="btn pulse">Follow {{profileInfo.username}}</button>
        <button *ngIf="profileInfo.isFollowed" (click)="unFollowUser()" class="btn">UnFollow</button>
      </div>
    </div>

    <div class="row" *ngIf="profileInfo.about">
      <div class="col s12">
        <div class="card-panel no-margin light-blue accent-4">
          <span class="white-text">{{profileInfo.about}}</span>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="isProfileMine && !profileInfo.about">
      <div class="col s12">
        <div class="card-panel no-margin light-blue accent-4">
          <span class="white-text" *ngIf="!profileInfo.about">You have no profile description. Add one in <a class="white-text" [routerLink]="['/user', 'settings']"><u>settings</u></a>.</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!hasPosts">
    <div class="center-align">
      <div class="row">
        <div class="col s12">
          <div class="card-panel" *ngIf="isProfileMine">
            <span class="big-text center-block">You have no posts</span>
            <br>
            <a [routerLink]="['/upload']" class="btn pulse waves-effect blue">
              Post now!
            </a>
          </div>
          <div class="card-panel" *ngIf="!isProfileMine">
            <span class="big-text">{{urlUsername}} has no posts</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="hasPosts" class="profile-page-wall" infinite-scroll [infiniteScrollDistance]="1" (scrolled)="onProfileScrolled()">
    <app-post [post]="post" *ngFor="let post of wallPosts"></app-post>
  </div>
</div>
