.container {
  margin: 0.5rem auto;
  width: 95%;
  max-width: 100% !important;
}

.profile-head .card {
  overflow: hidden;
}

.cover-photo {
  max-height: 250px;
  overflow: hidden;
}

.profile-head .profile-picture {
  width: 110px;
  height: 110px;
}

.input-field :focus {
  border-bottom: 1px solid #03a9f4;
  box-shadow: 0 1px 0 0 #03a9f4;
}

.input-field :focus + label {
  color: #03a9f4;
}

.content-row {
  margin-bottom: 0;
}

.profile-head .card-reveal .collapsible-padding {
  padding: 0 25px 0 25px;
}

.card .card-reveal {
  padding: 5px 24px 0 24px;
}

@media (max-width: 600px) {
  .open-profile-info {
    margin-top: 20px;
  }
}

.container .row {
  margin-bottom: 0;
}

.margin {
  margin: 0 !important;
}

.ultra-small {
  font-size: 0.8rem !important;
  margin: 0 !important;
  padding: 0 !important;
}

.small-text {
  font-size: 0.88rem !important;
}

.big-text{
  font-size: 2rem !important;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 970px;
  }

  .profile-page-wall {
    width: 728px !important;
  }
}

@media only screen and (max-width: 992px) {
  .profile-page-wall {
    width: 100%;
  }
}

.no-shadow{
  box-shadow: none;
}
