<div class="post">
  <div class="card">
    <div class="card-profile-title">
      <div class="row no-margin">
        <div class="col no-margin no-padding">
          <img [routerLink]="['/profile', post.uploaderUsername]"
               [src]="picturesService.getProfilePicUrl(post.uploaderUsername)"
               (error)="picturesService.handleNotFoundProfilePic($event)"
               alt="Post profile picture" class="circle profile-picture z-depth-1 pointer">
        </div>
        <div class="col">
          <div class="post-profile-info">
            <a [routerLink]="['/profile', post.uploaderUsername]" class="grey-text text-darken-4 no-margin valign">{{post.uploaderUsername}}</a>
            <p class="grey-text text-darken-1 ultra-small no-margin valign">
              {{datesService.getFormattedDateString(post.createdAt)}}</p>
          </div>
        </div>
        <div class="col right expand-more-arrow unselectable">
          <i class="material-icons">expand_more</i>
        </div>
      </div>
      <div *ngIf="post.caption" class="no-margin">
        <div class="caption-wrapper">
          <p class="caption-text">{{post.caption}}</p>
        </div>
      </div>
    </div>

    <div *ngIf="post.tags.length" class="card-action tags-container">
      <div *ngFor="let tag of post.tags" class="chip small-chip">
        {{tag}}
      </div>
    </div>

    <div class="card-image unselectable">
      <img *ngIf="!post.isLikedByCurrentUser" (dblclick)="likePost(post)"
           [src]="postsService.getPictureUrlForPost(post)"
           alt="Wall post picture" class="post-image">
      <img *ngIf="post.isLikedByCurrentUser" (dblclick)="unLikePost(post)"
           [src]="postsService.getPictureUrlForPost(post)"
           alt="Wall post picture" class="post-image">
    </div>

    <div class="card-content comments-wrapper">
      <div #commentsContainer [scrollTop]="commentsContainer.scrollHeight" *ngIf="post.showComments"
           class="comments-container">
        <div *ngFor="let comment of post.comments" class="comment no-margin">
          <div class="chip comment-username">
            <a [routerLink]="['/profile', comment.username]">{{comment.username}}</a>
          </div>
          <span class="small-text grey-text text-darken-2">{{comment.comment}}</span>
          <div class="divider"></div>
        </div>
      </div>
    </div>

    <div class="card-content row no-margin post-actions unselectable">
      <div class="col post-action">
        <div *ngIf="!post.isLikedByCurrentUser" (click)="likePost(post)" class="center pointer action-element">
          <i class="material-icons black-text lighten-1 zoom-in">favorite_outline</i>
        </div>
        <div *ngIf="post.isLikedByCurrentUser" (click)="unLikePost(post)" class="center pointer action-element">
          <i class="material-icons red-text zoom-in">favorite</i>
        </div>
        <div class="center">
          <span class="ultra-small">{{post.likesCount}}</span>
        </div>
      </div>
      <div class="col m1 post-action">
        <div class="center pointer action-element">
          <i class="material-icons blue-text lighten-1">share</i>
        </div>
      </div>

      <form *ngIf="post.showComments" (keyup)="commentPost($event, post)">
        <div class="input-field col s8 m10 no-margin ">
          <input id="post-comment" type="text" class="validate no-margin">
          <label for="post-comment">Add a comment...</label>
        </div>
      </form>


      <div class="row no-comments-container no-margin">
        <div class="col right expand-more-arrow valign-wrapper">
          <span *ngIf="!post.showComments" class="ultra-small valign">{{post.commentsCount}} Comments</span>
          <i *ngIf="!post.showComments" (click)="loadComments(post)" class="material-icons pointer">expand_more</i>
          <i *ngIf="post.showComments" (click)="post.showComments = !post.showComments" class="material-icons pointer">expand_less</i>
        </div>
      </div>
    </div>
  </div>
</div>
