<div class="post" #postElement>
  <div class="card no-shadow grey-border">
    <div class="card-content no-padding">
      <div class="card-post-top medium-text">
        <div class="row no-margin">

          <div class="col no-margin no-padding">
            <img [routerLink]="['/profile', post.username]"
                 [src]="post.profilePicUrl"
                 alt="Post profile picture" class="circle profile-picture grey-border pointer">
          </div>

          <div class="col">
            <div class="post-profile-info">
              <a [routerLink]="['/profile', post.username]" class="grey-text text-darken-4 no-margin valign">{{post.username}}
              </a>
              <p class="grey-text text-darken-1 ultra-small-text no-margin valign">
                {{post.timeAgo}}</p>
            </div>
          </div>

          <div class="col right post-edit-actions no-padding unselectable">
            <a materialize="dropdown" class="pointer"
               attr.data-activates='dropdown_{{post._id}}'><i class="material-icons black-text small zoom-in">arrow_drop_down</i></a>
            <ul id='dropdown_{{post._id}}' class='dropdown-content'>
              <li *ngIf="post.hasMetadata">
                <a class="activator"><i class="dropdown-icon material-icons blue-text">info_outline</i>Info</a>
              </li>
              <div *ngIf="post.canEdit">
                <li class="divider"></li>
                <li (click)="openEditModal()">
                  <a><i class="material-icons dropdown-icon orange-text">edit</i>Edit</a>
                </li>
                <li class="divider"></li>
                <li (click)="openDeleteModal()">
                  <a><i class="material-icons dropdown-icon red-text">delete_forever</i>Delete</a>
                </li>
              </div>
            </ul>
          </div>

        </div>
      </div>

      <div *ngIf="(post.caption || post.droneTaken)" class="caption-container medium-text">
        <p class="no-margin no-padding">
          <span *ngIf="post.caption">{{post.caption}}</span>
          <span *ngIf="post.droneTaken" class="taken-with grey-text text-darken-1">{{post.droneTaken}}</span>
        </p>
      </div>

      <div *ngIf="post.tags.length" class="card-action tags-container">
        <a *ngFor="let tag of post.tags" [routerLink]="['/tag', tag]">#{{tag}}</a>
      </div>

      <div class="card-image unselectable">
        <img (dblclick)="postRateAction()"
             [src]="post.pictureUrl"
             alt="Post picture by user {{post.username}}" class="post-image">
        <!-- <div class="after">
           <img src="assets/a.png">
         </div>-->
      </div>

      <div class="comments-wrapper">
        <div #commentsContainer [scrollTop]="commentsContainer.scrollHeight" *ngIf="post.showComments"
             class="comments-container">
          <div *ngFor="let comment of post.comments" class="comment">
          <span>
            <a class="black-text"
               [routerLink]="['/profile', comment.username]"><strong>{{comment.username}} </strong></a>
            {{comment.comment}}
          </span>
            <div class="divider grey lighten-4"></div>
          </div>
        </div>
      </div>

      <div class="row no-margin post-actions unselectable">
        <div class="col post-action">
          <div *ngIf="!post.isLikedByCurrentUser" (click)="likePost()" class="center pointer action-element">
            <i class="material-icons black-text lighten-1 zoom-in">favorite_outline</i>
          </div>
          <div *ngIf="post.isLikedByCurrentUser" (click)="unLikePost()" class="center pointer action-element">
            <i class="material-icons red-text zoom-in">favorite</i>
          </div>
          <div class="center">
            <span class="ultra-small-text">{{post.likesCount}}</span>
          </div>
        </div>
        <div class="col post-action">
          <div class="center pointer action-element" (click)="post.showShareButtons = !post.showShareButtons">
            <i class="material-icons blue-text lighten-1 zoom-in">share</i>
          </div>
        </div>

        <form (keyup.enter)="commentPost()">
          <div class="input-field col s8 comment-input-container">
            <input [(ngModel)]="newComment" name="newComment" id="post-comment" type="text"
                   class="comment-input no-margin" autocomplete="off">
            <label for="post-comment">Comment...</label>
          </div>
        </form>

        <div class="no-margin">
          <div *ngIf="!post.showComments" class="col right post-edit-actions valign-wrapper pointer"
               (click)="post.commentsCount && loadComments()">
            <span *ngIf="post.commentsCount === 1" class="ultra-small-text valign">{{post.commentsCount}} comment</span>

            <span *ngIf="post.commentsCount !== 1"
                  class="ultra-small-text valign">{{post.commentsCount}} comments</span>

            <i *ngIf="post.commentsCount" class="material-icons zoom-in">expand_more</i>
          </div>

          <div *ngIf="post.showComments" class="col right post-edit-actions valign-wrapper pointer"
               (click)="post.showComments = false">
            <i class="material-icons zoom-in">expand_less</i>
          </div>
        </div>
      </div>
      <div *ngIf="post.showShareButtons" class="center">
        <share-buttons class="withCount" [url]="'http://changeThisWithTheCorrectUrl.com/'"
                       [title]="'Drone photography by -username-'"
                       [image]="post.pictureUrl"
                       [description]="'A drone picture by -username- Visit www.dronexer.com for more.'"
                       [showCount]="true"
                       [stumbleUpOn]="false"
                       [pinterest]="false"
                       [whatsApp]="false"
                       [linkedIn]="false">
        </share-buttons>
      </div>
    </div>
    <div *ngIf="post.hasMetadata" class="card-reveal">
      <div class="row">
        <span class="card-title grey-text text-darken-4">Picture Info<i class="material-icons right">close</i></span>
      </div>
      <table class="bordered">
        <tbody>
        <tr *ngIf="post.metadata.dateTaken">
          <td>Date taken</td>
          <td>{{post.metadata.dateTaken}}</td>
        </tr>
        <tr *ngIf="post.metadata.make">
          <td>Manufacturer</td>
          <td>{{post.metadata.make}}</td>
        </tr>
        <tr *ngIf="post.metadata.model">
          <td>Camera model</td>
          <td>{{post.metadata.model}}</td>
        </tr>
        <tr *ngIf="post.metadata.lat">
          <td>Latitude</td>
          <td>{{post.metadata.lat}}</td>
        </tr>
        <tr *ngIf="post.metadata.lng">
          <td>Longitude</td>
          <td>{{post.metadata.lng}}</td>
        </tr>
        <tr *ngIf="post.metadata.alt">
          <td>Altitude (ASL)</td>
          <td>{{post.metadata.alt}}m.</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div *ngIf="post.showDeleteModal">
    <app-modal-delete [showPasswordField]="false" [titleText]="'Delete permanently?'" [deleteModal]="deleteModal"
                      (deleteCancelled)="closeDeleteModal()" (deleteConfirmed)="deletePost()"></app-modal-delete>
  </div>

  <div *ngIf="post.showEditModal">
    <app-modal-edit [editModal]="editModal" [post]="post"
                    (editCancelled)="closeEditModal()" (editConfirmed)="editPost($event)"></app-modal-edit>
  </div>

</div>
