.dropdown-content {
  width: fit-content !important;
}

.dropdown-icon {
  margin: 0 5px 0 0;
}

.comment {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.profile-info {
  margin-top: 10px;
}

.tags-container {
  overflow: auto;
}

.card-image {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.top-content {
  padding-bottom: 10px;
  padding-top: 15px;
}

.bottom-content {
  padding-bottom: 10px;
}

.action-icons {
  font-size: 2.2rem !important;
}

.post-image-tall {
  object-fit: cover;
  object-position: center;
  max-height: 564px;
}

.materialboxed.active.post-image-tall {
  object-fit: contain !important;
  object-position: unset !important;
  max-height: unset !important;
}

.profile-picture {
  width: 60px;
  height: 60px;
}

.post-actions {
  padding: 5px 0 0 20px
}

.sharebuttons {
  margin-top: 10px;
}

.hide-show-comments {
  margin-top: 10px;
}

.comments-container {
  overflow-y: scroll;
  padding: 0 24px 0 24px;
  overflow-wrap: break-word;
  word-break: break-all;
}

@media only screen and (min-width: 993px) {
  .comments-container {
    max-height: 166px;
  }
}

@media only screen and (max-width: 992px) {
  .comments-container {
    max-height: 133px;
  }
}
