.dropdown-content li > a, .dropdown-content li > span {
  color: #616161;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.zoom-in {
  -webkit-transition:  -webkit-transform .2s ease-out;
  -moz-transition: -moz-transform .2s ease-out;
  -o-transition: -o-transform .2s ease-out;
  -ms-transition: -ms-transform .2s ease-out;
  transition: transform .2s ease-out;
}
.zoom-in:hover {
  -webkit-transform:scale(1.33);
  -moz-transform:scale(1.33);
  -o-transform:scale(1.33);
  transform:scale(1.33);
}

.no-padding-bottom{
  padding-bottom: 0 !important;
}

.no-padding-top{
  padding-top: 0 !important;
}
