@import '~materialize-css/sass/components/_color.scss';

$roboto-font-path: "~materialize-css/dist/fonts/roboto/";

$primary-color: color("blue-grey", "darken-3");
$secondary-color: color("light-blue", "accent-4");

@import "~materialize-css/sass/materialize.scss";
