.unselectable {
  user-select: none;
}

.zoom-in {
  transition: transform .2s ease-out;
}

.zoom-in:hover {
  transform: scale(1.25);
}

.small-zoom-in {
  transition: transform .2s ease-out;
}

.small-zoom-in:hover {
  transform: scale(1.033);
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.pointer {
  cursor: pointer;
}

.ultra-small-text {
  font-size: 0.8rem !important;
}

.small-text {
  font-size: 0.88rem !important;
}

.big-text {
  font-size: 2rem !important;
}

.medium-text {
  font-size: 1.1rem !important;
}

.sb-style {
  margin: 0 0 10px 0 !important;
}

.grey-border {
  border: 1px solid #e0e0e0;
}

.no-shadow {
  box-shadow: unset !important;
}

.container-wall {
  max-width: 98% !important;
}

.container-wall {
  @extend .container;
  @extend .section;
  width: 728px;
}

.input-field.col .dropdown-content [type="checkbox"] + label {
  top: -3px !important;
  display: inline;
}

.input-field .dropdown-content [type="checkbox"] + label {
  top: 0;
  display: inline;
}

body {
  word-wrap: break-word;
}
