<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4 class="center">Upload Picture</h4>
        <div class="divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="file-field input-field">
          <div class="btn btn-large light-blue accent-4 btn-flat white-text">
            <span>Select</span>
            <input (change)="onPictureSelectorChange($event)" type="file" accept="image/jpeg,image/png" multiple>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="One or multiple pictures...">
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="selectedPictures.length">
      <app-upload-picture-form *ngFor="let picture of selectedPictures" [picture]="picture"></app-upload-picture-form>
    </div>
  </div>

</div>
