<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <h4 class="center">Upload Picture</h4>
        <div class="divider"></div>
      </div>
    </div>
    <div *ngIf="!selected" class="row">
      <div class="col s12">
        <div class="section">
          <form action="#">
            <div class="file-field input-field">
              <div class="btn btn-large light-blue darken-1">
                <span>Choose</span>
                <i class="material-icons right">send</i>
                <input (change)="onPictureSelectorChange($event)" type="file" accept="image/jpeg,image/png">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="selected" class="row">
      <div class="col s12 m10 offset-m1">
        <div class="card">
          <div class="card-image">
            <img alt="Selected picture to upload" [src]="pictureFileEncoded">
            <a (click)="onUploadBtnClick()" materialize="tooltip"
               class="tooltipped btn-floating btn-large halfway-fab waves-effect waves-light red"
               data-position="bottom" data-delay="500" data-tooltip="Upload"><i
              class="material-icons">file_upload</i></a>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">edit</i>
                <textarea [(ngModel)]="caption" id="textarea" class="materialize-textarea"></textarea>
                <label for="textarea">Write a caption.</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix">label</i>
                <input [(ngModel)]="tags" placeholder="#drone #aerialphotography" id="tags" type="text">
                <label for="tags">Tags</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12 grey-text">
                <i class="material-icons prefix black-text">add_circle</i>
                <select [(ngModel)]="dronesSelector"
                        id="register-drone-select"
                        materialize="material_select"
                        name="drones-select">
                  <option value="" disabled>Taken with</option>
                  <option *ngFor="let drone of dronesArray; let i = index;" [value]="i">{{drone}}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
