<div class="container-wall">
  <div *ngIf="post">

    <app-post [isSingle]="true" [post]="post"></app-post>

    <div class="row no-margin no-padding">
      <div *ngIf="hasLocationMetadata" class="z-depth-1 left-col right col s12 m12 l6 no-padding" leaflet [leafletLayers]="layers" [leafletOptions]="options">

      </div>

      <div *ngIf="hasMetadata" class="z-depth-1 right-col col s12 m12 l6">
        <app-metadata-table [metadata]="post.metadata"></app-metadata-table>
      </div>

    </div>
  </div>
</div>
